<h1>Wachtwoord vergeten</h1>
{% if successMessage %}
<p>{{ successMessage }}</p>
{% else %}
<form method="post" action="{{ url('forgot_password') }}">
    <p>Vul je e-mailadres in om je wachtwoord te kunnen resetten.</p>

    <label for="email-field">E-mail</label>
    <input type="email" name="email" id="email-field" required value="{{ email }}">

    {% if formError %}
    <p class="error">{{ formError }}</p>
    {% endif %}
    <button type="submit">Submit</button>
</form>
{% endif %}
