<h1>Inloggen</h1>
<form method="post" action="{{ url('auth_submit') }}" class="auth-form">
{% if errors %}
    {% for error in errors %}
    <p class="error">{{ error | trans }}</p>
    {% endfor %}
{% endif %}
	<div class="clearfix">
		<label for="emailField" class="for-text">E-mailadres:</label>
		<input autofocus type="email" name="email" id="emailField" class="text">
	</div>
	<div class="clearfix">
		<label for="passwordField" class="for-text">Wachtwoord:</label>
		<input type="password" name="password" id="passwordField" class="text">
	</div>
	<p><a href="{{ url('forgot_password') }}">Ik ben mijn wachtwoord vergeten</a></p>
	<button type="submit">Log in</button>
</form>
