<h1>Reset password</h1>
{% if successMessage %}
<p>{{ successMessage }}</p>
{% else %}
    {% if error %}
<p class="error">{{ error | trans }}</p>
    {% else %}
<form method="post" action="">
    <label for="password-field">New password</label>
    <input type="password" name="password" id="password-field" required>
	<label for="password-field-2">Repeat password</label>
	<input type="password" name="repeat-password" id="password-field-2" required>

    {% if formError %}
    <p class="error">{{ formError | trans }}</p>
    {% endif %}
    <button type="submit">Submit</button>
</form>
    {% endif %}
{% endif %}
