/*
 * $ block item
 * As used throughout the site
 */
%bd {
    display: block; padding: 15px; background: #fff;
    @include bp-min($small) { padding: 20px;}

    p:last-child { margin-bottom: 0; }
}
%bd.overflow { overflow: hidden; }

a.block-item { overflow: hidden; display: block; color: $textColor;
	@include bp-max($small) {
		width: 100%;
		img { width: 100%; height: auto; } // <-- I hate you, you're too specific!
	}
}

a.block-item { &:hover, &:focus, &:active { .block-item--description { background: $lightGrey; }}}

.block-item--image { display: block; }

.block-item--icon { position: relative; z-index: 1; display: block; float:left; width: 50px; height: 50px; margin-right: -10px; text-align: center; }
.block-item--icon:before { margin: 0; @include font-size(24); line-height: 50px; }

.block-item--icon__large {
    @extend .block-item--icon; width: 100px; height: 100px; margin-right: -30px;
    @include bp-min($small) { width: 150px; height: 150px; }
    .icon {
        width: 100%; display:block; padding: 20px 0;
        &:before { @include font-size(80) }
    }
}

@for $i from 1 through length($themes) {
	.block-item--icon.bg-theme-#{$i} { background: nth($themesDark, $i); }
}

.block-item--description { @extend %bd; position: relative; word-break: break-word; transition: background .5s; }
.block-item--description__inverted {
	@extend .block-item--description; background: $darkGrey; color: #fff; 
	a { 
		color: #fff; text-decoration: underline; 
		&:hover, &:focus { text-decoration: none; }
	}
}
.block-item--description__small,
.block-item--description__medium,

.block-item--description__large  { @extend %bd; position: relative; padding: 30px; @include bp-max($small) { padding: 20px; }}
.block-item--description__large__padded-left {
    overflow: hidden; padding: 15px 15px 15px 45px; transition: background .5s;
    @include bp-min($small) { padding: 30px 30px 30px 60px; }
}

.block-item--description.no-bg, .block-item--description__large.no-bg { background: transparent; color: #fff; }
.block-item--description.bg-theme-1, .block-item--description__large.bg-theme-1 { @extend .bg-theme-1; }
.block-item--description.bg-theme-2, .block-item--description__large.bg-theme-2 { @extend .bg-theme-2; }
.block-item--description.bg-theme-3, .block-item--description__large.bg-theme-3 { @extend .bg-theme-3; }
.block-item--description.bg-theme-4, .block-item--description__large.bg-theme-4 { @extend .bg-theme-4; }
.block-item--description.bg-theme-5, .block-item--description__large.bg-theme-5 { @extend .bg-theme-5; }
.block-item--description.bg-theme-6, .block-item--description__large.bg-theme-6 { @extend .bg-theme-6; }
.block-item--description.bg-theme-7, .block-item--description__large.bg-theme-7 { @extend .bg-theme-7; }
.block-item--description.bg-theme-1-dark, .block-item--description__large.bg-theme-1-dark { @extend .bg-theme-1-dark; }
.block-item--description.bg-theme-2-dark, .block-item--description__large.bg-theme-2-dark { @extend .bg-theme-2-dark; }
.block-item--description.bg-theme-3-dark, .block-item--description__large.bg-theme-3-dark { @extend .bg-theme-3-dark; }
.block-item--description.bg-theme-4-dark, .block-item--description__large.bg-theme-4-dark { @extend .bg-theme-4-dark; }
.block-item--description.bg-theme-5-dark, .block-item--description__large.bg-theme-5-dark { @extend .bg-theme-5-dark; }
.block-item--description.bg-theme-6-dark, .block-item--description__large.bg-theme-6-dark { @extend .bg-theme-6-dark; }
.block-item--description.bg-theme-7-dark, .block-item--description__large.bg-theme-7-dark { @extend .bg-theme-7-dark; }

.block-item--meta {
	z-index: 2; position: absolute; left: 0; bottom: 100%;
	& > * { float: left; margin-right: 10px; }
}

.block-item--date {
    @extend .date; @extend %padding-normal; background: $darkGrey; font-weight: bold; transition: left .4s;
}
.block-item--date__large { @extend .date__larger; @extend .block-item--date; }
