/*
 * $ block link
 * Block links for pagination and other things
 * As used throughout the site
 */
.block-link { @extend .zeta; display: inline-block; padding: 20px 10px; }
.block-link__large {
    @extend .body-copy; display: block; padding: 10px; font-weight: bold; text-align: center;
}

.block-link__large .icon {
    display: block; width: 100%; margin: -10px 0 10px -10px; padding: 24px 10px; text-align: center; line-height: 1;
    &:before { @include font-size(50); }
}

.block-link__large__extended {
    @extend .block-link__large; @extend .icon-arrow-right;
    &:after { @include font-size(16); line-height: 1.3; vertical-align: top; }
}

.block-link__horizontal {
    position: relative; display: block; height: 100px; @extend .gamma; @include font-size(20);
    &:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }

    .block-link--text { box-sizing: border-box; display: inline-block; padding-left: 20px; padding-right: 20px; vertical-align: middle; font-style: normal; }
    .icon { max-width: 100px; height: 100%; text-align: center; }
    .icon:before { @include font-size(40); line-height: 100px; }
}