/*
 * $ date container
 * For controlling the width and position of the date block
 * As used on the event detail page
 */
.date-container {
	float: left; width: 25%;
	@include bp-min($small) {
		width: 90px; text-align: center;
	}
	@include bp-min($medium) {
		width: 8.333333333%; text-align: left;
	}
}
