.featured-agenda-toggle {
    @extend .clearfix; @extend .unstyled-list; margin: 0 0 5px;
    li {
      float: left; box-sizing: border-box; width: 50%;
      &:first-child { padding-right: 1px;}
      &:last-child { padding-left: 1px;}
    }
    a {
        display: block; padding: 9px 30px; border-bottom: 3px solid $darkGrey; background: $darkGrey; color: white; @include font-size(14); font-weight: bold; text-transform: uppercase; text-align: center;
        &.active { border-color: nth($themes, 1); }
    }
}
@include bp-min($small) {
    .featured-agenda-toggle {
        display: none;
    }
}
