/* job vacancy flip */
.flip-container { transform: perspective(1000); transform: translate3d(0,0,0); user-select: none;
    @include bp-max($large) { background: nth($themes, 5); }
    &.flip .flipper { transform: rotateY(180deg);
        @include old-ie { .flipper__front { display: none; } .flipper__back { display: block; }}
    }}
.flipper { position: relative; transition: all 0.5s; transform-style: preserve-3d; }
.flipper__front, .flipper__back { top: 0; left: 0; width: 100%; height: 100%;  backface-visibility: hidden;
    .block-item--description__large { background: transparent; @include bp-min($large) { background: nth($themes, 5); }}
}
.flipper__front { z-index: 2; position: absolute; }
.flipper__back { z-index: 3; float: left; transform: rotateY(180deg); @include old-ie { display: none; }
    .epsilon { max-width: 85%; }
    @include bp-min-max($medium, $large) { float: left; min-height: 200px; }
    @include bp-min-max($small, $medium) { float: left; min-height: 161px; }
    @include bp-max($small) { float: left; min-height: 171px; }
}
    // @include bp-min($large) { position: absolute; height: 250px; }}
.flipper__close { position: absolute; right: 25px; top: 27px; @include font-size(24); line-height: 1; color: nth($themesDark, 5); cursor: pointer; &:hover { color: #fff; }
    @include bp-max($medium) { right: 13px; top: 15px; }
}
