/*
 * $ notice
 * Used for displaying notices in between agenda items
 */
.notice {
    padding: 0 10px; background: $darkGrey; line-height: 40px; color: #fff; @include font-size(12); font-weight: normal;
    @include bp-min($small) { padding: 0 20px; font-family: $headerFontStack; @include font-size(16); line-height: 50px; text-transform: uppercase; }
    p { margin: 0; }
    a { color: #fff; }
}
