.promotional-banner { 
	overflow: hidden; padding: 15px; background: nth($themes, 1); color: #fff;
	@include bp-min($small) {
		padding: 30px;
	}
	p { 
		@include font-size(14);
		@include bp-min($small) {
			@include font-size(16);
		}
		&:last-child { margin-bottom: 0; }
	}
	a { 
		color: #fff; text-decoration: underline; 
		&:hover, &:focus, &:active { text-decoration: none; }
	}
}

.promotional-banner__header { 
	@include bp-min($small) { float: left; width: 30.6818182%; margin-right: 3.409090909%; } // 270/880, 30/110
}
.promotional-banner__title { 
	@include font-size(26); line-height: 34px;
	@include bp-min($small) {
		margin-bottom: 5px; @include font-size(42); line-height: 1em;
	}
}
.promotional-banner__subtitle { 
	margin-bottom: 20px; text-transform: none; @include defaultFont(); @include font-size(14); font-weight: normal;
	@include bp-min($small) { 
		@include font-size(16); 
	}
}
.promotional-banner__main { overflow: hidden; }