/*
 * $ separator
 * For separating different sections
 * As used on the event page
 */
 .separator { height: 16px; margin: 0 $margin; background: image-url("sprite-separator.png") left top repeat-x; }

 @include bp-max ($small) {
 	// Specifity hack
 	body .separator { margin: 20px 0; }
 }

 @for $i from 1 through length($themes) {
    .separator.theme-#{$i} { background-position: 0 -#{($i - 1) * 16}px; }
}
