/*
 * $ video link
 * Used for displaying links to single videos
 * As used on the inspiration page
 */
.video-link {
    position: relative; padding-top: 55.5%; margin-bottom: 50px;
    display: block; color: #fff; background: $black; overflow: hidden;
    @extend .icon-play; &:before { z-index: 3; position: absolute; top: 25%; left: 0; @include font-size(70); width: 100%; text-align: center; text-shadow: 0 0 5px rgba(0,0,0,0.3);
        transform: scale(1); opacity: 1; transition: all .2s; visibility: visible;
        @include bp-max($small) { top: 20%; }}

}

.video-link--image {
    overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; background: $black;
    img { margin-top: -10%; width: 100%; opacity: 1; transition: all .5s; }
}
// .video-link--title { @extend .epsilon; position: absolute; bottom: 0; left: 0; padding: 20px; @include text-shadow(0 0 5px rgba(0,0,0,0.5)); @include translateY(0); @include transition(all .5s);  }
.video-link--title { @extend .epsilon; h1 { line-height: 1.2; @include font-size(21); @include bp-max($small) { @include font-size(16); }} transform: translateY(0); transition: all .2s; background: $black; width: 100%; }
.video-link--video {
    position: absolute; top: 0; width: 100%; background: $black;
    div { @extend .video-player--player; margin-bottom: 0 !important; }
    iframe { @extend .video-player--frame; }
    span {
    	@extend .icon-close; cursor: pointer; z-index: 3; position: absolute; top: 0; left: 0; display: inline-block; text-align: center; line-height: 40px; vertical-align: top; text-shadow: 0 0 2px rgba(0,0,0,0.3); transition: .3s all;
        @include font-size(0); line-height: 0; transform: translateY(-100px); transition: .5s all ease-in;
        &:before { @include font-size(40); line-height: 60px; padding: 10px;  }
    }
    &:hover span { transform: translateY(0); transition: .3s all ease-out; }
}
.active-videoplayer {
    &:before { transform: scale(5); opacity: 0; visibility: hidden; }
    .video-link--image img { opacity: 0; }
}