/* example:

@font-face {
	font-family: 'Font Regular';
	src: url('../../../fonts/font-regular/282108_1_0.eot');
	src: url('../../../fonts/font-regular/282108_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../../../fonts/font-regular/282108_1_0.woff2') format('woff2'),
		 url('../../../fonts/font-regular/282108_1_0.woff') format('woff'),
	 	 url('../../../fonts/font-regular/282108_1_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*/
