/* ==========================================================================
   variables
   ========================================================================== */

// COLORS (base)
// The following is inspired by this article: http://sachagreif.com/sass-color-variables/

$black: #222;
$white: #ffffff;

$red: #f00;
$blue: #00f;

$primaryColor: $red;
$secondaryColor: $blue;

$themes: (
	$primaryColor,
	$secondaryColor,
);

$themesMap: (
	primary: $primaryColor,
	secondary: $secondaryColor,
);

// FONTS
$fontSizesSmall: (
	h1: 38px,
	h2: 32px,
	h3: 20px,
	body: 19px
);

$fontSizesMedium: (
	h1: 57px,
	h2: 42px,
	h3: 32px,
	body: 19px
);

$fontSizesLarge: (
);

$defaultLineHeight: 1.5;

$bodyFont: sans-serif;
$headingFont: sans-serif;
$smallCapFont: sans-serif;

// WIDTHS & SIZES
$siteInnerWidth: 1020px;

/*
 * z-index
 * for stacking stuff
 *
 * define the stacking order for modules here
 * within a module you should define it via
 * the $module-z-index variable
 */
$z-index: (
);

// BREAKPOINTS
// The following is inspired by this article: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
$small: 640;
$medium: 1024;
$large: 1400;

$old-ie: false !default;
