/**
 * Colors
 * @see http://sachagreif.com/sass-color-variables/
 */
$black: #222;
$white: #ffffff;

$red: #f00;
$blue: #00f;

$primary-color: $red;
$secondary-color: $blue;

$themes: (
	$primary-color,
	$secondary-color,
);

$themes-map: (
	primary: $primary-color,
	secondary: $secondary-color,
);

/**
 * Fonts
 */
$body-font: sans-serif;
$heading-font: sans-serif;
$ui-font: sans-serif;

/**
 * General defaults
 */
$line-height: 1.5;
$border-radius: 2px;
$box-shadow: 0 0 10px 0 rgba($black, .3);

/**
 * Widths & Sizes
 */
$site-width: 1020;

/*
 * Z-index
 * Define the stacking order for modules here within a module you
 * should define it via the $module-z-index variable
 */
$z-index: (
);

/**
 * Breakpoints
 * @see http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
$tiny: 480;
$small: 640;
$medium: 960;
$large: 1200;
$huge: 1680;
