application/data/cache/pluginLoaderCache.php
application/data/cache/htmlpurifier/**
!application/data/cache/htmlpurifier/.gitdir
application/data/cache/tags/**
!application/data/cache/tags/.gitdir
application/data/logs/*.log
chromedriver.log
public/cached/**
!public/cached/.gitdir
public/uploads/private/
public/uploads/shared/
public/uploads/sandbox/
npm-debug.log
.sass-cache
.DS_Store
.vagrant
.gulp
cache.properties
vendor/.git
node_modules
public/js/build/dev/*
public/css/build/dev/*
bower_components
application/data/cache/twig
