application/data/cache/pluginLoaderCache.php
application/data/cache/URI/*
application/data/cache/HTML/*
application/data/cache/CSS/*
application/data/cache/tags/*
!application/data/**/.gitdir
application/configs/version.php
application/data/logs/*.log
application/data/sql/*.sql
chromedriver.log
public/cached/*
public/css/.sass-cache
public/uploads/private/*
public/uploads/shared/*
public/uploads/sandbox/*
public/js/build/dev/*
public/css/compiled/dev/*.css
node_modules
bower_components
bower.json
npm-debug.log
.DS_Store
.project
.vagrant
