application/data/cache/pluginLoaderCache.php
application/data/cache/CSS/**
!application/data/cache/CSS/.gitdir
application/data/cache/HTML/**
!application/data/cache/HTML/.gitdir
application/data/cache/URI/**
!application/data/cache/URI/.gitdir
application/data/cache/tags/**
!application/data/cache/tags/.gitdir
application/data/logs/*.log
chromedriver.log
public/cached/**
!public/cached/.gitdir
public/uploads/private/
public/uploads/shared/
public/uploads/sandbox/
npm-debug.log
.sass-cache
.DS_Store
.vagrant
.gulp
cache.properties
vendor/.git
composer.lock
build/api
build/build
build/logs
build/phpdox
node_modules
public/js/build/dev/*
public/css/compiled/dev/*
bower_components
