/*
 * $ modals
 * small screens spread 12 time cells over 2 rows 100/6 = 16.66..8%
 */
//opening agenda transition
.modal__wrapper {
    color: #222; opacity: 0; visibility: hidden;
    @include bp-max($small) { z-index: 1003; position: fixed; top: 0; left: 0; right: 0; height: 100%; padding: 0 5px; background: rgba(0,0,0,0.8); }
    @include bp-min($small) { z-index: 999; position: absolute; right: 0; transform: translateX(500px); transition: all .3s ease; }
    //if touch is enabled
    .touch & { display: none;
        &.show { display: block; }
    }
    &.show {
        opacity: 1; visibility: visible;
        @include bp-min($small) { transform: translateX(0); }
        @include old-ie() { .datepicker td, .datepicker th { display: block; } }
    }
}
.modal__content { float: left; width:100%; padding: 10px; min-height: 120px; max-height: 420px; max-height: 80vh; overflow-x: hidden; overflow-y: auto; box-sizing: border-box; }
//closing agenda button
.modal__closer {
    z-index: 4999; position: absolute; top: 5px; right: 5px; display: block; width: 40px; height: 40px; line-height: 35px; color: transparent;
    text-align: center; @include font-size(20); font-weight: bold; cursor: pointer; background: nth($themes, 6); transform: translateY(70px);
    transform: translateY(0); color: #fff;
        &:hover, &:focus { color: #222; transition: all .1s ease; }
    @include bp-min($small) { background: nth($themes, 3); }
    @include bp-min($medium) { right: 0; top: -65px; width: 65px; height: 65px; @include font-size(34); line-height: 65px; transition: all .2s ease-out .2s; }
}
//wrapper around the content
.modal__inner {
    z-index: 60; position: relative; overflow: hidden; box-sizing: border-box; width: 340px; padding: 5px 15px; background: nth($themes, 6); line-height: 1.2; user-select: none; -webkit-font-smoothing: antialiased;
    @include bp-max($small) { top: 50px; width: 100%; }
    @include bp-min($small) { background: nth($themes, 3); box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px; }
}
.modal__footer  {
    z-index: 100; float: left; height: 40px; width: 100%; margin: 0; padding: 0; text-align: center;
    li {
        &:first-child { border-right: 1px solid #eee; }
        display: inline-block; float: left; margin: 0; width: 50%; height: 40px; cursor: pointer; box-sizing: border-box; }
}
