{# use `currentPage` to highlight current nav item #}
<nav class="navbar">
	<ul class="nav-primary">
        <li><a href="{{ url('home') }}">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
