/*
 * $ share buttons
 * For rendering Facebook and Twitter share buttons
 * As used on the news detail page
 */

.share-buttons {
	@extend .clearfix; @extend .unstyled-list;
	li {
		margin-top: 5px;
		&:first-child { margin: 0; }
	}
	a {
		display: inline-block; color: #fff;
		&:before { display: inline-block; margin-right: 0; padding: 0 10px; @include font-size(16); line-height: 30px; }
	}
	b { display: inline-block; padding: 0 10px; line-height: 30px; vertical-align: top; @include font-size(14); }
}
.share-buttons--facebook {
	@extend .icon-facebook; background: $facebookLight;
	&:before { background: $facebookDark; }
    &:hover, &:focus { background: $facebookDark;
    	&:before { background: $facebookLight; }}
}
.share-buttons--twitter {
	@extend .icon-twitter; background: $twitterDark;
	&:before { background: $twitterLight; }
    &:hover, &:focus { background: $twitterLight;
    	&:before { background: $twitterDark; }}
}

@include bp-min($small) {
	.share-buttons {
		li { float: left; margin: 0 0 0 $marginHalf; }
	}
}
/*
 * $ facebook like
 * Used throughout the site
 */
.fb_iframe_widget { top: 5px; width: 90px; }

.button-facebook,
	.facebook a { background: $facebookDark;
		.icon-facebook { background: $facebookLight; }
		&:hover,
		&:focus { background: $facebookLight;
			.icon-facebook { background: $facebookDark; }}
		}
/*
 * $ Twitter
 * Used throughout the site
 */
.button-twitter,
	.twitter-follow a { background: $twitterLight;
		.icon-twitter { background: $twitterDark; }
		&:hover,
		&:focus { background: $twitterDark;
			.icon-twitter { background: $twitterLight; }}
		}

