/*
 _________   ________   ________   _______-+-
/\* ______\ /\* ____ \ /\* ____ \ /\* ____ \
\ \ \_____/ \ \ \__/\ \\ \ \__/\ \\ \ \__/\ \
 \ \ \   ____\ \ \_\_\ \\ \ \_\_\ \\ \ \_\_\ \
  \ \ \ /\__ \\ \  __  _\\ \  __  _\\ \  __  _\
   \ \ \_/_/\ \\ \ \/\ \/_\ \ \/\ \/_\ \ \/\ \/_
    \ \________\\ \_\ \___\\ \_\ \___\\ \_\ \___\
     \/________/ \/_/\/___/ \/_/\/___/ \/_/\/___/.nl -->

      Author: Grrr.nl
*/

/* ==========================================================================
   CONTENTS
   ==========================================================================

 * Imports.............Import external stylesheets
 * Primary styles......Non module styles  (e.g. basic typography)
 * Specific styles.....Common styles used througout the site
 * Layout..............General layout stuff
 * Modules.............Modules based on SMACSS
 * Print styles........Styles for printing
 */


// Import Normalize.css from npm so it’s easy to update
@import '../../../node_modules/normalize.css/normalize';

@import 'utility/functions';
@import 'utility/mixins';
@import 'utility/variables';
@import 'utility/fonts';
@import 'utility/icons';

/* ==========================================================================
	PRIMER
	========================================================================== */

html {
	box-sizing: border-box; font-size: 62.5%; line-height: 1.4;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after { box-sizing: inherit; }

body {
	background: #fff; margin: 0;
	font-family: $bodyFont; font-weight: normal;
	font-size: map-get($fontSizesSmall, body); color: $black;
}

/*
 * Forms
 */
button, input, select, textarea {
	color: $black;
	font-family: $bodyFont; font-weight: normal;
	font-size: map-get($fontSizesSmall, body); 
}


/*
 * Links
 */
a:hover, a:focus {
	outline: 0; vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove the blue tap-highlight on mobile */
}


/*
 * Typography
 */
p {
	margin-top: 0; margin-bottom: $defaultLineHeight + em;
}

h1 {
	font-size: map-get($fontSizesSmall, h1);
}

h2 {
	font-size: map-get($fontSizesSmall, h2);
}

h3 {
	font-size: map-get($fontSizesSmall, h3);
}

h4 { }
h5 { }
h6 { }


/*
 * Media
 */
img, object, iframe, video {
	max-width: 100%; width: auto; height: auto;
}


/* ==========================================================================
	LAYOUT
	========================================================================== */
.wrapper {}


/* ==========================================================================
	MODULES
	========================================================================== */

@import 'modules/cookie-info';
@import 'modules/flash-message';
@import 'modules/nav-primary';

/* ==========================================================================
   HELPERS
   ========================================================================== */

@include bp-max($small) {
	.hide-on-palm { display: none !important; }
}

@include bp-min($small) {
	.hide-on-lap { display: none !important; }
}

.show-only-on-palm { display: none; }
@include bp-max($small) {
	.show-only-on-palm { display: block !important; }
}

.is-hidden { display: none !important; visibility: hidden !important; }
.is-offscreen { position: absolute !important; left: -999em !important; }
.is-invisible { visibility: hidden !important; }

/* Hide form field that should be left empty */
form .hp {
	display: none;
}


/* ==========================================================================
	HOVER - disable on scroll (see function disableHoverStylesOnScroll() in main.js)
	========================================================================== */
.disable-hover {
	pointer-events: none;
}
