/* ==========================================================================
	Grunt icon template. Generates _icons.scss
	Author: Koen | grrr.nl

	(original can be found in node_modules/grunt-webfont/tasks/templates/bem.css)
   ========================================================================== */

// IE8 Fix
@font-face {
	font-family:"icons";
	src:url("../fonts/icons/icons-3a005f1e322b2b2823223aab9d8035e7.eot");
	font-weight:normal;
	font-style:normal;
}


@font-face {
	font-family:"icons";
	src:url("../fonts/icons/icons-3a005f1e322b2b2823223aab9d8035e7.eot");
	src:url("../fonts/icons/icons-3a005f1e322b2b2823223aab9d8035e7.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons/icons-3a005f1e322b2b2823223aab9d8035e7.woff") format("woff"),
		url("../fonts/icons/icons-3a005f1e322b2b2823223aab9d8035e7.ttf") format("truetype"),
		url("../fonts/icons/icons-3a005f1e322b2b2823223aab9d8035e7.svg?#icons") format("svg");
	font-weight:normal;
	font-style:normal;
}


%icon {
	font-family:"icons";
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}


// Icons
.icon-arrow-next:before { @extend %icon; content:"\f100"; }
.icon-arrow-prev:before { @extend %icon; content:"\f101"; }
